.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    max-width: 1200px;
    margin: auto;
}

.image-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    width: 45%;
}

.subtitle {
    font-size: 14px;
    text-transform: uppercase;
    color: #757575;
    margin-bottom: 10px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 24px;
    line-height: 1.6;
}

.learn-more {
    background-color: #377F65;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    padding: 6px 14px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}